@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--textColor);
}
:root{
  --bodyColor :  #f2f1fa;
  --primaryColor : #6c5ce7;
  --focusColor: #5246a8;
  --alertColor: #eb4d4b;
  --alertSecondaryColor : #ff7979;
  --secondaryColor : #a29bfe4f;
  --textColor : #2c3e50;
  --bgWhite : white;
  --bxShadow : rgba(0, 0, 0, 0.1) 0px 1px 4px;
}
body{
  background-color: var(--bodyColor);
}
.navbar{
  background-color: var(--bgWhite);
  position: sticky;
  top: 0rem;
  box-shadow: var(--bxShadow);
}
.footer{
  background-color: var(--bgWhite);
  box-shadow: var(--bxShadow);
}
.copy{
  color: var(--primaryColor);
}
.copy:hover{
  text-decoration: underline;
}
.custom-container{
  max-width: 380px;
  margin: 0 auto;
  padding-block: 2rem;
}
.container{
  min-height: 550px;
  max-width: 380px;
  margin: 0 auto;
  padding-block: 2rem;
}
.text-center{
  text-align: center !important;
}
.mb-2{
  margin-bottom: .5rem !important;
}
.mb-3{
  margin-bottom: 1rem;
}
.mt-2{
  margin-top: .5rem !important;
}
.mt-3{
  margin-top: 1rem !important;
}
.pb-2{
  padding-bottom: .5rem !important;
}
.py-2{
  padding: .5rem 0rem !important;
}
.py-3{
  padding: 1rem 0rem !important;
}
.py-4{
  padding: 1.5rem 0rem !important;
}
.py-5{
  padding: 2rem 0rem !important;
}
.pb-3{
  padding-bottom: 1rem;
}
.pt-2{
  padding-top: .5rem !important;
}
.pt-3{
  padding-top: 1rem !important;
}
.d-flex{
  display: flex !important;
}
.justify-center{
  justify-content: center !important;
}
.justify-between{
  justify-content: space-between !important;
}
.align-center{
  align-items: center !important;
}
.flex-wrap{
  flex-wrap: wrap !important;
}
.gap-2{
  gap: .5rem;
}
.gap-3{
  gap: 1rem;
}

.grid-3{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.card{
  padding:1rem 1.5rem;
  background: var(--bgWhite);
  border-radius: 7px;
  box-shadow: var(--bxShadow);
}
.badge{
  width: fit-content;
  padding: .5rem 1rem;
  font-size: .8rem;
  background-color: var(--secondaryColor);
  border-radius: 99999999px;
  margin-bottom: .5rem;
}
.badge >*{
    color: var(--primaryColor);
}
.btn{
  width: fit-content;
  padding: .5rem 1rem;
  border: 1px solid var(--primaryColor);
  color: var(--textColor);
  background-color: var(--bgWhite);
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.btn:hover{
  background-color: var(--primaryColor) ;
  color: var(--bgWhite);
}
.btn:active{
    background-color: var(--focusColor) !important ;
    color: var(--bgWhite);
}

.btn-alert{
  width: fit-content;
  padding: .5rem 1rem;
  border: 1px solid var(--alertSecondaryColor);
  color: var(--textColor);
  background-color: var(--bgWhite);
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.btn-alert:hover{
  background-color: var(--alertColor) ;
  color: var(--bgWhite);
}
h1{
  font-weight: 600;
}

a{
  text-decoration: none;
  color: inherit;
}
.w-25{
  width: calc(25% - 1rem);
}
.w-50{
  width: calc(50% - 1rem);
}

.w-75{
  width: calc(75% - 1rem);
}
.w-100{
  width: calc(100%);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  background-color: var(--bgWhite);
  box-shadow: var(--bxShadow);
}

td, th {
  border: 1px solid #f0efef;
  text-align: left;
  padding: 1rem;
}

.active{
  color: var(--primaryColor);
  font-weight: 500;
}
form{
  width: 380px;
  background-color: var(--bgWhite);
  padding: 1rem;
  box-shadow: var(--bxShadow);
  border-radius: 10px;
}
form > *{
  width: 100%;
}
form button{
  min-width: 100%;
}
input{
  width: 100%;
  padding: .5rem 1rem;
  border-radius: 3px;
  outline: none;
  border: 1px solid var(--secondaryColor);
  transition:all .3s ease-in-out;
}
input:focus{
  border: 1px solid var(--primaryColor);
}
.inputlabel{
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: .5rem;
  gap: .2rem;
}
i{
  display: flex;
}

/* tr:nth-child(even) {
  background-color: #dddddd;
} */

/*===========================
====== Responsive CSS =======
===========================*/

@media (min-width: 500px) {
  .container{
    max-width: 450px;
  }
  form{
    width: 450px;
  }
}
@media (min-width: 640px) {
  .container{
    max-width: 600px;
  }
  form{
    width: 550px;
  }
}
@media (min-width: 768px) {
  .container{
    max-width: 700px;
  }
  .w-md-25{
  width: calc(25% - 1rem);
}
.w-md-50{
  width: calc(50% - 1rem);
}
.w-md-50:last-child{
  width: calc(50% - 0rem) !important;
}
.w-md-75{
  width: calc(75% - 1rem);
}
.w-md-100{
  width: calc(100% - 1rem);
}

}

@media (min-width: 991px) {
  .container{
    max-width: 900px;
  }
}
@media (min-width: 1024px) {
  .container{
    max-width: 950px;
  }
}
@media (min-width: 1200px) {
  .container{
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container{
    max-width: 1200px;
  }
}